PDF-extractor/venv/
PDF-extractor/.env
QnA-chat-bot/venv/
QnA-chat-bot/.env
PDF-doc-reader/venv/
PDF-doc-reader/.env/
PDF-doc-reader/faiss_index/
Text-to-sql/.env/
Text-to-sql/student.db/
Text-to-sql/venv/
DOC-reader-using-gemma/venv/
DOC-reader-using-gemma/.env/
.DS_Store
